# By default, pnpm creates a semistrict node_modules, meaning dependencies
# have access to undeclared dependencies but modules outside of node_modules do 
# not. With this layout, most of the packages in the ecosystem work with no 
# issues. However, if some tooling only works when the hoisted dependencies are 
# in the root of node_modules, you can set this to true to hoist them for you.

shamefully-hoist=true

# Excludes module-alias from being hoisted as it must be present in the package
# node_modules for compilation to work properly.

hoist-pattern[]=!module-alias